<h1>This is my card</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur distinctio
  sequi vel aliquid necessitatibus quibusdam autem officiis quis ullam magni?
  Molestias non maxime reprehenderit possimus totam at dolorem incidunt
  corporis?
</p>
<div class="actions">
  <button mat-flat-button>
    <mat-icon>save</mat-icon>
    Save
  </button>
  <button mat-flat-button>
    <mat-icon>refresh</mat-icon>
    Refresh
  </button>
  <button mat-flat-button>
    <mat-icon>favorite</mat-icon>
    Action 3
  </button>
  <button mat-button>Cancel</button>
</div>