// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: Robot,"Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-primary-fixed);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  @include mat.theme((
    color:(
      primary: mat.$rose-palette,// secundary se puede poner pero vine basicamente en el primary ahora (se puede cambiar)
      tertiary: mat.$orange-palette // El accent de antes 
    ),
    typography: Roboto, // se puede seleccionar un font o poner un mapa de fonts
    density: 0 // densidad de los componentes de angular material mas espaciados o mas compactos
  ));
}