// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'hari-theme-colors' as hari-theme;
@use 'theme';
@import './app/styles/kobi-theme.css';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  color-scheme: light;
  padding: 1rem;
  margin: 0;
  font-family: Robot,"Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-primary-fixed);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  @include mat.theme((
    color:(
      primary: mat.$azure-palette,// secundary se puede poner pero vine basicamente en el primary ahora (se puede cambiar)
      tertiary: mat.$orange-palette, // El accent de antes
      theme-type:light
    ),
    typography: Roboto, // se puede seleccionar un font o poner un mapa de fonts
    density: -3 // densidad de los componentes de angular material mas espaciados o mas compactos
  ));
}


.theme-2 {
  @include theme.go((
    color: (
      primary: hari-theme.$primary-palette,
      tertiary:hari-theme.$tertiary-palette,
    )
  ))
}
